@using HtmlHelpers.BeginCollectionItem
@model emeal.Models.Ingredient

@using (Html.BeginCollectionItem("Ingredients"))
{
    <div class="form-group">
        @Html.LabelFor(model => model.Product, new {@class = "control-label col-md-2"})
        <div class="col-md-10">
            @Html.LabelFor(model => model.Product.Name, new {@class = "control-label col-md-2"})
            @Html.EditorFor(model => model.Product.Name, new {htmlAttributes = new {@class = "form-control"}})
            @Html.ValidationMessageFor(model => model.Product.Name, "", new {@class = "text-danger"})

            @Html.LabelFor(model => model.Product.PathToImage, new {@class = "control-label col-md-2"})
            @Html.EditorFor(model => model.Product.PathToImage, new {htmlAttributes = new {@class = "form-control", type = "url"}})
            @Html.ValidationMessageFor(model => model.Product.PathToImage, "", new {@class = "text-danger"})
        </div>
    </div>

    <div class="form-group">
        @Html.LabelFor(model => model.Amount, new {@class = "control-label col-md-2"})
        <div class="col-md-10">
            @Html.EditorFor(model => model.Amount, new {htmlAttributes = new {@class = "form-control", type = "number", placeholder = string.Empty}})
            @Html.ValidationMessageFor(model => model.Amount, "", new {@class = "text-danger"})
        </div>
    </div>

    <div class="form-group">
        @Html.LabelFor(model => model.UnitType, new {@class = "control-label col-md-2"})
        <div class="col-md-10">
            @Html.EnumDropDownListFor(model => model.UnitType, new {@class = "form-control"})
            @Html.ValidationMessageFor(model => model.UnitType, "", new {@class = "text-danger"})
        </div>
    </div>
}

<button class='btn btn-danger delete-ingredient-frame'>Delete</button>
