<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8"/>
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>@ViewBag.Title</title>
    <link href="https://fonts.googleapis.com/css?family=Encode+Sans" rel="stylesheet">
    <link href="~/Content/bootstrap.min.css" rel="stylesheet" type="text/css"/>
    <link href="~/Content/Site.css" rel="stylesheet" type="text/css"/>
    <script src="~/Scripts/modernizr-2.8.3.js"></script>
</head>
<body>
<div class="navbar navbar-inverse navbar-fixed-top">
    <div class="container">
        <div class="navbar-header">
            <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-collapse">
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
            </button>
            @Html.ActionLink("e-meal", "Index", "Recipe", new {area = ""}, new {@class = "navbar-brand"})
        </div>

        <div class="dropdown pull-right navbar-btn" id="searchDropdownMenu">
            <button class="btn dropdown-toggle btn-success" type="button" data-toggle="dropdown" id="searchDropdown">Search</button>
            <div class="dropdown-menu">
                @using (Html.BeginForm("Index", "Recipe", FormMethod.Get))
                {
                    @Html.ActionLink("Search by ingredients", "SearchByIngredients", "Recipe", null, new {@class = "btn btn-success"})
                    <div class="form-group">
                        <input type="text" class="form-control" placeholder="Search by name..." name="searchName" value=@ViewBag.SearchName>
                    </div>
                    <button type="submit" class="btn btn-default">
                        <span class="glyphicon glyphicon-search"></span>
                    </button>
                }
            </div>
        </div>

        <div class="navbar-collapse collapse">
            <ul class="nav navbar-nav">
            </ul>
        </div>
    </div>
</div>

<div class="container body-content">
    @RenderBody()
    <hr/>
    <footer>
        <p>&copy; 2017 - @DateTime.Now.Year ａｅｓｔｈｅｔｉｘ</p>
    </footer>
</div>

<script type="text/javascript" src="~/Scripts/jquery-3.1.1.min.js"></script>
<script type="text/javascript" src="~/Scripts/jquery.validate.min.js"></script>
<script type="text/javascript" src="~/Scripts/jquery.validate.unobtrusive.min.js"></script>
<script type="text/javascript" src="~/Scripts/bootstrap.min.js"></script>
@*Custom scripts*@
<script type="text/javascript" src="~/Scripts/Site/IngredientFrames.js"></script>
<script type="text/javascript" src="~/Scripts/Site/StepFrames.js"></script>
<script type="text/javascript" src="~/Scripts/Site/SearchByIngredient.js"></script>
</body>
</html>