@using emeal.Models
<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8"/>
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>@ViewBag.Title</title>
    @*CSS*@
    <link type="text/css" rel="stylesheet" href="https://fonts.googleapis.com/css?family=Encode+Sans"/>
    <link type="text/css" rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/select2/4.0.3/css/select2.min.css"/>
    <link type="text/css" rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css"/>
    @*CSS FALLBACK*@
    <link type="text/css" rel="stylesheet" href="~/node_modules/select2/dist/css/select2.min.css"/>
    <link type="text/css" rel="stylesheet" href="~/node_modules/bootstrap/dist/css/bootstrap.min.css"/>
    @*CUSTOM STYLESHEET*@
    <link type="text/css" rel="stylesheet" href="~/Content/dist/Site.css"/>
    @*JS*@
    <script type="text/javascript" src="https://code.jquery.com/jquery-3.2.1.slim.min.js"
            integrity="sha256-k2WSCIexGzOj3Euiig+TlR8gA0EmPjuc79OEeY5L45g=" crossorigin="anonymous"></script>
    <script type="text/javascript" src="https://cdnjs.cloudflare.com/ajax/libs/select2/4.0.3/js/select2.min.js"></script>
    <script type="text/javascript" src="https://cdnjs.cloudflare.com/ajax/libs/jquery-validate/1.17.0/jquery.validate.min.js"></script>
    <script type="text/javascript" src="https://cdnjs.cloudflare.com/ajax/libs/jquery-validation-unobtrusive/3.2.6/jquery.validate.unobtrusive.min.js"></script>
    <script type="text/javascript" src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>
    @*JS FALLBACK*@
    <script type="text/javascript" src="~/node_modules/jquery/dist/jquery.min.js"></script>
    <script type="text/javascript" src="~/node_modules/jquery-validation/dist/jquery.validate.min.js"></script>
    <script type="text/javascript" src="~/node_modules/jquery-validation-unobtrusive/jquery.validate.unobtrusive.js"></script>
    <script type="text/javascript" src="~/node_modules/select2/dist/js/select2.full.min.js"></script>
    <script type="text/javascript" src="~/node_modules/bootstrap/dist/js/bootstrap.min.js"></script>
    @*CUSTOM SCRIPTS*@
    <script type="text/javascript" src="~/Scripts/Site/dist/IngredientFrames.js"></script>
    <script type="text/javascript" src="~/Scripts/Site/dist/StepFrames.js"></script>
    <script type="text/javascript" src="~/Scripts/Site/dist/SearchByIngredient.js"></script>
</head>
<body>
<div class="navbar navbar-inverse navbar-fixed-top">
    <div class="container">
        <a href="@Url.Action("Index", "User")" class="pull-left">
            <img class="user-profile-pic" src="@Html.ValueFor(user => (Session["User"] as User).PathToImage)" alt="User avatar"/>
        </a>
        <div class="navbar-header">
            @Html.ActionLink("e-meal", "Index", "Home", null, new {@class = "navbar-brand"})
        </div>

        @Html.ActionLink("Search by ingredients", "SearchByIngredients", "Ingredient", null, new {@class = "btn btn-success navbar-btn pull-right"})
        <div class="dropdown pull-right navbar-btn" id="searchDropdownMenu">
            <button class="btn dropdown-toggle btn-success" type="button" data-toggle="dropdown" id="searchDropdown">Search by name</button>
            <div class="dropdown-menu" id="ingredient-search-dropdown">
                @using (Html.BeginForm("Index", "Recipe", FormMethod.Get, new {id = "ingredient-search-dropdown-content"}))
                {
                    <div class="form-group">
                        <input type="text" class="form-control" placeholder="Enter recipe name..." name="searchName" value=@ViewBag.SearchName>
                    </div>
                    <button type="submit" class="btn btn-default">
                        <span class="glyphicon glyphicon-search"></span>
                    </button>
                }
            </div>
        </div>
    </div>
</div>

<div class="container">
    @RenderBody()
    <hr/>
    <footer>
        <p>&copy; 2017 - @DateTime.Now.Year ａｅｓｔｈｅｔｉｘ</p>
    </footer>
</div>
</body>
</html>