@model emeal.Models.Recipe

@{
    ViewBag.Title = "Create new recipe";
}

<h2>Create new recipe</h2>

@using (Html.BeginForm("Create", "Recipe", FormMethod.Post))
{
    @Html.AntiForgeryToken()

    <div class="form-horizontal">
        @Html.ValidationSummary(true, "", new {@class = "text-danger"})
        <div class="form-group">
            @Html.LabelFor(model => model.Name, new {@class = "control-label col-md-2"})
            <div class="col-md-10">
                @Html.EditorFor(model => model.Name, new {htmlAttributes = new {@class = "form-control"}})
                @Html.ValidationMessageFor(model => model.Name, "", new {@class = "text-danger"})
            </div>
        </div>

        <div class="form-group">
            @Html.LabelFor(model => model.Description, new {@class = "control-label col-md-2"})
            <div class="col-md-10">
                @Html.TextAreaFor(model => model.Description, new {htmlAttributes = new {@class = "form-control"}})
                @Html.ValidationMessageFor(model => model.Description, "", new {@class = "text-danger"})
            </div>
        </div>

        <div class="form-group">
            @Html.LabelFor(model => model.PathToImage, new {@class = "control-label col-md-2"})
            <div class="col-md-10">
                @Html.EditorFor(model => model.PathToImage, new {htmlAttributes = new {@class = "form-control", type = "url", placeholder = "http://"}})
                @Html.ValidationMessageFor(model => model.PathToImage, "", new {@class = "text-danger"})
            </div>
        </div>

        <div class="form-group">
            @Html.LabelFor(model => model.Ingredients, new {@class = "control-label col-md-2"})
            <div class="col-md-10">
                <span class="btn btn-default" id="add-ingredient-frame">
                    <img src=@Url.Content("~/Content/img/djkhaled-sm.png") alt="DJ Khaled"/>
                    &nbsp; Another one.
                </span>
                <span class="alert-warning" id="step-warning"></span>
                <div id="Ingredients"></div>
                @Html.ValidationMessageFor(model => model.Ingredients, "", new {@class = "text-danger"})
            </div>
        </div>

        <div class="form-group">
            @Html.LabelFor(model => model.DifficultyLevel, new {@class = "control-label col-md-2"})
            <div class="col-md-10">
                @Html.EnumDropDownListFor(model => model.DifficultyLevel, new {@class = "form-control"})
                @Html.ValidationMessageFor(model => model.DifficultyLevel, "", new {@class = "text-danger"})
            </div>
        </div>

        <div class="form-group">
            @Html.LabelFor(model => model.EstimatedTime, new {@class = "control-label col-md-2"})
            <div class="col-md-10">
                @Html.EditorFor(model => model.EstimatedTime, new {htmlAttributes = new {@class = "form-control", type = "number", min = "1", placeholder = string.Empty}})
                @Html.ValidationMessageFor(model => model.EstimatedTime, "", new {@class = "text-danger"})
            </div>
        </div>

        <div class="form-group">
            @Html.LabelFor(model => model.Steps, new {@class = "control-label col-md-2"})
            <div class="col-md-10">
                <span class="btn btn-default" id="add-step-frame">
                    <img src=@Url.Content("~/Content/img/djkhaled-sm.png") alt="DJ Khaled"/>
                    &nbsp; Another one.
                </span>
                <span class="alert-warning" id="step-warning"></span>
                <div id="Steps"></div>
                @Html.ValidationMessageFor(model => model.Steps, "", new {@class = "text-danger"})
            </div>
        </div>

        <div class="form-group">
            <div class="col-md-offset-2 col-md-10 btn-group">
                <input type="submit" value="Create" class="btn btn-success"/>
                @Html.ActionLink("Back to List", "Index", null, new {@class = "btn btn-default"})
            </div>
        </div>
    </div>
}