@model emeal.Models.Recipe
@{ ViewBag.Title = Html.DisplayFor(model => model.Name); }

<div id="recipe-details">
    <div class="recipe-details-top">
        <img src="@Html.ValueFor(model => model.PathToImage)" alt="Meal image"/>

        <h1>@Html.ValueFor(model => model.Name)</h1>
        <p>@Html.ValueFor(model => model.Description)</p>
    </div>
    <hr/>
    <div class="recipe-details-bottom">
        <div class="recipe-details-bottom-left">
            <h5>@Html.DisplayNameFor(model => model.Author)</h5>
            <p>@Html.ValueFor(model => model.Author.Name)</p>
            <hr/>
            <h5>@Html.DisplayNameFor(model => model.DifficultyLevel)</h5>
            <p>@Html.ValueFor(model => model.DifficultyLevel)</p>
        </div>
        <div class="recipe-details-bottom-right">
            <h5>@Html.DisplayNameFor(model => model.Popularity)</h5>
            @Html.ValueFor(model => model.Popularity)
            <hr/>
            <h5>@Html.DisplayNameFor(model => model.Rating)</h5>
            <p>@Html.ValueFor(model => model.Rating)</p>
        </div>
    </div>

    <div class="btn-group">
        @Html.ActionLink("Edit", "Edit", new {id = Model.Id}, new {@class = "btn btn-info"})
        @Html.ActionLink("Back to List", "Index", null, new {@class = "btn btn-default"})
    </div>
</div>