@model IEnumerable<emeal.Models.Recipe>
@{ ViewBag.Title = "Index"; }

<table class="table">
    <tr>
        <th>
            @Html.ActionLink("Create New", "Create", "Recipe", null, new {@class = "btn btn-success btn-default"})
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Name)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.EstimatedTime)
        </th>
        <th>
            <div class="dropdown pull-right">
                <button class="btn btn-xs btn-primary dropdown-toggle" type="button" id="sortByDropdown" data-toggle="dropdown">
                    Sort By
                    <span class="caret"></span>
                </button>
                <ul class="dropdown-menu dropdown-menu-right">
                    <li>@Html.ActionLink("Popularity", "Index", new {sortOrder = "popularity", ViewBag.SearchName})</li>
                    <li>@Html.ActionLink("Name", "Index", new {sortOrder = "name", ViewBag.SearchName})</li>
                    <li>@Html.ActionLink("Rating", "Index", new {sortOrder = "rating", ViewBag.SearchName})</li>
                    <li>@Html.ActionLink("Difficulty", "Index", new {sortOrder = "difficulty", ViewBag.SearchName})</li>
                    <li>@Html.ActionLink("Time", "Index", new {sortOrder = "time", ViewBag.SearchName})</li>
                </ul>
            </div>
        </th>
    </tr>

    @foreach (var item in Model)
    {
        <tr>
            <td>
                <img src="@item.PathToImage" alt="Meal image" width="100", height="50"/>
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Name)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.EstimatedTime) min
            </td>
            <td class="btn-group">
                <a href=@Href(Url.Action("Details", "Recipe", new {id = item.Id})) class="btn btn-xs">
                    <span class='glyphicon glyphicon-info-sign'></span>
                </a>
                <a href=@Href(Url.Action("Edit", "Recipe", new {id = item.Id})) class="btn btn-xs">
                    <span class='glyphicon glyphicon-pencil'></span>
                </a>
                <a href=@Href(Url.Action("Delete", "Recipe", new {id = item.Id})) class="btn btn-xs">
                    <span class='glyphicon glyphicon-remove'></span>
                </a>
            </td>
        </tr>
    }

</table>