@model IEnumerable<emeal.Models.Recipe>
@{ ViewBag.Title = "Index"; }

<table class="table">
    <tr>
        <th>
            @Html.ActionLink("Create New", "Create", "Recipe", null, new {@class = "btn btn-success btn-default"})
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Name)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Ingredients)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Steps)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.EstimatedTime)
        </th>
        <th>
            <div class="dropdown pull-right">
                <button class="btn btn-xs btn-primary dropdown-toggle" type="button" id="sortByDropdown" data-toggle="dropdown">
                    Sort By
                    <span class="caret"></span>
                </button>
                <ul class="dropdown-menu dropdown-menu-right">
                    <li>@Html.ActionLink("Popularity", "Index", new {sortOrder = "popularity", ViewBag.SearchName})</li>
                    <li>@Html.ActionLink("Name", "Index", new {sortOrder = "name", ViewBag.SearchName})</li>
                    <li>@Html.ActionLink("Rating", "Index", new {sortOrder = "rating", ViewBag.SearchName})</li>
                    <li>@Html.ActionLink("Difficulty", "Index", new {sortOrder = "difficulty", ViewBag.SearchName})</li>
                    <li>@Html.ActionLink("Time", "Index", new {sortOrder = "time", ViewBag.SearchName})</li>
                </ul>
            </div>
        </th>
    </tr>

    @foreach (var item in Model)
    {
        <tr>
            <td>
                <img src="@item.PathToImage" alt="Meal image" width="100", height="50"/>
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Name)
            </td>
            <td>
                <div class="dropdown" id="ingredient-dropdown">
                    <button class="btn btn-xs btn-primary dropdown-toggle" type="button" data-toggle="dropdown">
                        @Html.DisplayFor(modelItem => item.Ingredients.Count)
                        <span class="caret"></span>
                    </button>
                    @if (item.Ingredients.Count != 0)
                    {
                        <ul class="dropdown-menu dropdown-menu-right ingredient-dropdown-content">
                            @foreach (var ingredient in item.Ingredients)
                            {
                                <li>
                                    <ul>
                                        <li>@Html.DisplayFor(ingredientItem => ingredient.Product.PathToImage)</li>
                                        <li>@Html.DisplayFor(ingredientItem => ingredient.Product.Name)</li>
                                        <li>@Html.DisplayFor(ingredientItem => ingredient.Amount)</li>
                                        <li>@Html.DisplayFor(ingredientItem => ingredient.UnitType)</li>
                                    </ul>
                                    <hr/>
                                </li>
                            }
                        </ul>
                    }
                </div>
            </td>
            <td>
                <div class="dropdown" id="step-dropdown">
                    <button class="btn btn-xs btn-primary dropdown-toggle" type="button" data-toggle="dropdown">
                        @Html.DisplayFor(modelItem => item.Steps.Count)
                        <span class="caret"></span>
                    </button>
                    @if (item.Steps.Count != 0)
                    {
                        <ul class="dropdown-menu dropdown-menu-right step-dropdown-content">
                            @foreach (var step in item.Steps)
                            {
                                <li>
                                    <ul>
                                        <li>@Html.DisplayFor(stepItem => step.Name)</li>
                                        <li>@Html.DisplayFor(stepstepItem => step.Order)</li>
                                        <li>@Html.DisplayFor(stepItem => step.PathToImage)</li>
                                        <li>@Html.DisplayFor(stepItem => step.Timer)</li>
                                        <hr/>
                                    </ul>
                                </li>
                            }
                        </ul>
                    }
                </div>
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.EstimatedTime) min
            </td>
            <td class="btn-group">
                <a href=@Href(Url.Action("Details", "Recipe", new {id = item.Id})) class="btn btn-xs">
                    <span class='glyphicon glyphicon-info-sign'></span>
                </a>
                <a href=@Href(Url.Action("Edit", "Recipe", new {id = item.Id})) class="btn btn-xs">
                    <span class='glyphicon glyphicon-pencil'></span>
                </a>
                <a href=@Href(Url.Action("Delete", "Recipe", new {id = item.Id})) class="btn btn-xs">
                    <span class='glyphicon glyphicon-remove'></span>
                </a>
            </td>
        </tr>
    }

</table>